/* line 1, ../sass/_reset.sass */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, cite, code, em,
img, q, small, strong, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, embed, figure, figcaption,
footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 11, ../sass/_reset.sass */
body, html {
  height: 100%;
}

/* line 13, ../sass/_reset.sass */
img, fieldset, a img {
  border: none;
}

/* line 15, ../sass/_reset.sass */
input[type="submit"],
button {
  cursor: pointer;
}
/* line 18, ../sass/_reset.sass */
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 21, ../sass/_reset.sass */
textarea {
  overflow: auto;
}

/* line 23, ../sass/_reset.sass */
input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 27, ../sass/_reset.sass */
input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

/* line 30, ../sass/_reset.sass */
ul, ol {
  list-style-type: none;
}

/* line 32, ../sass/_reset.sass */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
